html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #f1f2f2;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

img {
  width: 100%;
  object-fit: cover;
}

address {
  font-style: normal;
}

svg,
path,
rect {
  transition: 0.3s ease-in-out;
}

input {
  border: none;
  transition: 0.3s ease-in-out;
}

textarea {
  border: none;
  transition: 0.3s ease-in-out;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/* fonts */
@font-face {
  font-family: "Roboto";
  src: local("RobotoBold"), url(/src/fonts/Roboto-Bold.woff2) format("woff2"), url(/src/fonts/Roboto-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url(/src/fonts/Roboto-Regular.woff2) format("woff2"), url(/src/fonts/Roboto-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



/* castoms */
:root {
  --black: #000;
  --white: #fff;
  --disabledgreen:#1da38a87;
  --lightgreen: #1da38a;
  --green: green;
  --darkgreen: rgb(1, 83, 1);
}


/*glob*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}




/* UI-kit */

.title-block {
  position: relative;
}


.title {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.left-logo {
  position: absolute;
  width: 100px;
}

.right-logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
}

.pay {
  margin: 0 auto;
  padding: 20px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 16px;

  .is-invalid {
    border-color: red;
  }

  .valid {
    border-color: green;
  }

  .top {
    top: - 1px;
    transform: scale(.80);
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__type-card {
    width: 50px;
  }

  &__form {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__field {
    position: relative;
  }

  &__field:nth-child(1) {
    grid-column: span 2;
  }

  &__field:nth-child(2) {
    grid-column: span 2;
  }

  &__field:nth-child(3) {
    grid-column: span 2;
  }

  &__field:nth-child(4) {
    grid-column: span 1;
  }

  &__input {
    width: 100%;
    padding: 15px 12px;
    border: 1px solid rgba(128, 139, 149, .32);
    border-radius: 8px;
    outline: none;
    font-size: 18px;
  }

  &__input:focus + &__label, &__input:not(:focus):valid + &__label {
    top: - 1px;
    transform: scale(.80);
  }

  &__label {
    display: block;
    position: absolute;
    left: 10px;
    top: 15px;
    color: rgba(128, 139, 149, .32);
    font-size: 16px;
    pointer-events: none;
    transform-origin: left;
    transition: .3s ease-in-out;
  }

  &__btn {
    grid-column: span 1;
    padding: 15px 22px;
    border-radius: 8px;
    background-color: var(--lightgreen);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
  }

  &__btn:hover {
    background-color: var(--green);
  }

  &__btn:focus {
    background-color: var(--darkgreen);
  }

  &__btn:active {
    background-color: var(--darkgreen);
  }

  &__btn:disabled {
    background-color: var(--disabledgreen);
    color: var(--white);
    cursor: auto ;
  }

  &__text {
    grid-column: span 2;
    text-align: center;
    margin: 0 auto;
  }

  &__error {
    color: red;
    font-size: 12px;
    text-align: center;
  }

}










